/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #9ca0b0;
$dark-gray                  : #4c4f69;
$darker-gray                : #7c7f93;
$light-gray                 : #5c5f77;
$lighter-gray               : #bcc0cc;

/* Color codes used for the site */
$danger-color               : #e64553;
$info-color                 : #df8e1d;
$notice-color               : #8839ef;
$success-color              : #40a02b;
$warning-color              : #fe640b;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$gray};
    --global-bg-color                   : #dce0e8;
    --global-footer-bg-color            : #e6e9ef;
    --global-border-color               : #{$lighter-gray};
    --global-dark-border-color          : #ccd0da;
    --global-code-background-color      : #bcc0cc;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-link-color                 : #209fb5;
    --global-link-color-hover           : mix(#000, #2f7f93, 25%);
    --global-link-color-visited         : mix(#fff, #2f7f93, 25%);  
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : mix(#000, #{$gray}, 25%);    
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$lighter-gray};
}
