.heroContainer h1,
h2 {
  text-align: center;
}

.captionImgContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.captionContainer {
  width: 70%;
}

.selfPortrait {
  border-radius: 2.5%;
  height: 10em;
  margin-left: 20px;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .linkContainer, .captionImgContainer {
    flex-direction: column;
  }
}
