.resumeContainer p {
  margin: 0;
}

.contactInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.educationHeader,
.experienceHeader,
.extracurricularsHeader {
  margin-top: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#resume-pdf-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

#resume-pdf {
  border: 1px solid #a3be8c;
  padding: 10px;
}

@media only screen and (max-width: 900px) {
  .educationHeader,
  .experienceHeader,
  .extracurricularsHeader,
  .contactInfoContainer {
    flex-direction: column;
  }
}