body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--body-background);
  color: var(--body-color);
  height: 100vh;
}

:root {
  --body-background: #eceff4;
  --body-color: #2e3440;
  --header-footer-background: #d8dee9;
  --anchor-color: #4c566a;
}

.dark-mode {
  --body-background: #2e3440;
  --body-color: #d8dee9;
  --header-footer-background: #3b4252;
  --anchor-color: #8fbcbb;
}

a {
  color: var(--anchor-color);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: var(--header-footer-background);
  height: 10vh;
  border-bottom: 1px solid black;
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0px;
}

#header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 0;
  background: var(--header-footer-background);
  border-top: 1px solid black;
}
