main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#embeds {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 30px;
}

iframe {
  padding: 0 10px;
}
