main, #pdf-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  border: 1px solid var(--body-color);
  border-radius: 5px;
  color: var(--anchor-color);
  background-color: var(--header-footer-background);
  padding: 10px 50px;
}

button:hover {
  cursor: pointer;
}

.job-heading, .extra-heading, .school-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p.job-name, p.extra-name, .school-name, .skill-type, .course-type {
  font-weight: bold;
}

@media (width < 1000px) {
  main {
    padding: 0 20px;
  }

  #resume {
    max-width: 85vw;
  }

  .job-heading, .extra-heading, .school-heading {
    flex-direction: column;
  }
}
