main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.job-heading, .extra-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p.job-name, p.extra-name {
  font-weight: bold;
}

@media (width < 1000px) {
  main {
    padding: 0 10px;
  }

  .job-heading, .extra-heading {
    flex-direction: column;
  }
}
